@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the font globally 
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}*/

/*@font-face {
  font-family: 'BerlinSans';
  src: url('./assets/fonts/BerlinSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/
